* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00233f; /* Azul mais escuro para o fundo */
}

.container {
    width: 500px;
    padding: 30px;
    border-radius: 10px;
    background-color: #ffffff; /* Fundo branco */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h4 {
    margin-bottom: 20px; /* Maior espaço abaixo do título */
    font-size: 24px;
    color: #7f8c8d; /* Cinza escuro para o texto */
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px; /* Maior espaço entre os campos */
    border: 1px solid #d1d8e0; /* Bordas mais suaves */
    border-radius: 5px;
    background-color: #f4f7f9; /* Azul mais claro para os campos */
    color: #00233f; /* Azul mais escuro para o texto */
}

#enviar-formulario {
    border: none;
    background-color: #003b5b; /* Azul azur */
    color: #ffffff;
    width: 100%; /* Ocupa toda a largura */
    padding: 15px;
    border-radius: 5px;
    cursor: pointer; /* Mostra que é clicável */
    transition: background-color 0.3s; /* Adiciona uma transição suave */
}

#enviar-formulario:hover {
    background-color: #00233f; /* Azul azur mais escuro ao passar o mouse */
}